<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light shadow-sm" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading text-success">
                    Dashboard
                </div>

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>

                    Dashboard
                </a>


                <div class="sb-sidenav-menu-heading text-success">
                    Master
                </div>

                <a class="nav-link" href="products.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-box"></i>
                    </div>

                    Products
                </a>

                <a class="nav-link" href="categories.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tags"></i>
                    </div>

                    Categories
                </a>

                <a class="nav-link" href="units.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-balance-scale"></i>
                    </div>

                    Units
                </a>


                <div class="sb-sidenav-menu-heading text-success">
                    Stock
                </div>

                <a class="nav-link" href="stock-receives.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-arrow-down"></i>
                    </div>

                    Stock Receive
                </a>

                <a class="nav-link" href="stock-issues.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-arrow-up"></i>
                    </div>

                    Stock Issue
                </a>

                <a class="nav-link" href="stock-movements.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-random"></i>
                    </div>

                    Stock Movement
                </a>


                <div class="sb-sidenav-menu-heading text-success">
                    System
                </div>

                <a class="nav-link" href="users.html">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-users"></i>
                    </div>

                    Users
                </a>

                <a class="nav-link" href="#" onclick="logout()">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </div>

                    Logout
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small text-success">Logged in as:</div>
            <span id="loginUserName">-</span>
        </div>
    </nav>
</div>